body{
    font-family: Arial, Helvetica, sans-serif;
}
.titulo{
   text-align: center;
   margin-left: 45%;
}
.logoTenis{
padding-left: 41%;
margin-top: -70px;
}
.coluna-1{
    padding-top: 7.5%;
    
}